@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Al registro del bono COVID-19, desarrollado por <a href="https://github.com/KatV1">KatV1</a>.</p>
</div>
